#
# MUIC devices
#

comment "MUIC configs"

config ERD_MUIC_MANAGER
	bool "MUIC Manager supports PDIC chip interface"
	depends on ERD_USE_S2M_MUIC
	default n
	help
	  If you say yes here you will get support manager for the PDIC chip.

config ERD_MUIC_CORE
	bool "Supports MUIC Core"
	depends on ERD_USE_S2M_MUIC
	default n
	help
	  If you say yes here you will get support for the MUIC Core functionalities


