# --- Disable general unused features
# CONFIG_ACPI is not set
# CONFIG_ACPI_CPPC_CPUFREQ is not set
# CONFIG_ATA is not set
# CONFIG_BTRFS_FS is not set
# CONFIG_CORESIGHT is not set
# CONFIG_CRYPTO_HW is not set
# CONFIG_DRM is not set
# CONFIG_FPGA is not set
# CONFIG_FUSE_FS is not set
# CONFIG_GNSS is not set
# CONFIG_IIO is not set
# CONFIG_IPMI_DEVICE_INTERFACE is not set
# CONFIG_IPMI_HANDLER is not set
# CONFIG_IPMI_SI is not set
# CONFIG_MD is not set
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_PCI is not set
# CONFIG_PHY_CADENCE_TORRENT is not set
# CONFIG_PHY_XGENE is not set
# CONFIG_RC_MAP is not set
# CONFIG_REGMAP_SLIMBUS is not set
# CONFIG_SLIMBUS is not set
# CONFIG_SOUND is not set
# CONFIG_SPI is not set
# CONFIG_USB is not set
# CONFIG_USB_GADGET is not set
# CONFIG_USB_NET_DRIVERS is not set
# CONFIG_USB_SUPPORT is not set
# CONFIG_USB_TYPEC is not set
# CONFIG_VIRTUALIZATION is not set
# CONFIG_WLAN is not set
# CONFIG_XEN is not set

# --- Disable unused platforms
# CONFIG_ARCH_ACTIONS is not set
# CONFIG_ARCH_ALPINE is not set
# CONFIG_ARCH_APPLE is not set
# CONFIG_ARCH_BCM is not set
# CONFIG_ARCH_BERLIN is not set
# CONFIG_ARCH_HISI is not set
# CONFIG_ARCH_INTEL_SOCFPGA is not set
# CONFIG_ARCH_K3 is not set
# CONFIG_ARCH_KEEMBAY is not set
# CONFIG_ARCH_LG1K is not set
# CONFIG_ARCH_MEDIATEK is not set
# CONFIG_ARCH_MESON is not set
# CONFIG_ARCH_MVEBU is not set
# CONFIG_ARCH_NPCM is not set
# CONFIG_ARCH_NXP is not set
# CONFIG_ARCH_QCOM is not set
# CONFIG_ARCH_RENESAS is not set
# CONFIG_ARCH_ROCKCHIP is not set
# CONFIG_ARCH_SEATTLE is not set
# CONFIG_ARCH_SPRD is not set
# CONFIG_ARCH_SUNXI is not set
# CONFIG_ARCH_SYNQUACER is not set
# CONFIG_ARCH_TEGRA is not set
# CONFIG_ARCH_TESLA_FSD is not set
# CONFIG_ARCH_THUNDER is not set
# CONFIG_ARCH_THUNDER2 is not set
# CONFIG_ARCH_UNIPHIER is not set
# CONFIG_ARCH_VEXPRESS is not set
# CONFIG_ARCH_VISCONTI is not set
# CONFIG_ARCH_XGENE is not set
# CONFIG_ARCH_ZYNQMP is not set

# --- Disable unused NET stuff
# CONFIG_BRIDGE is not set
# CONFIG_BT is not set
# CONFIG_CAN is not set
# CONFIG_INET is not set
# CONFIG_IPV6 is not set
# CONFIG_NETDEVICES is not set
# CONFIG_NETFILTER is not set
# CONFIG_NET_9P is not set
# CONFIG_NET_SCHED is not set
# CONFIG_NET_VENDOR_ATHEROS is not set
# CONFIG_NET_VENDOR_BROADCOM is not set
# CONFIG_NET_VENDOR_MELLANOX is not set
# CONFIG_NET_VENDOR_MICROSEMI is not set
# CONFIG_NET_VENDOR_QUALCOMM is not set
# CONFIG_NET_VENDOR_STMICRO is not set
# CONFIG_NFC is not set
# CONFIG_RFKILL is not set
# CONFIG_VLAN_8021Q is not set
# CONFIG_WIRELESS is not set

# --- Disable unused crypto
# CONFIG_CRYPTO_CHACHA20_NEON is not set
# CONFIG_CRYPTO_MICHAEL_MIC is not set
# CONFIG_CRYPTO_SHA3_ARM64 is not set
# CONFIG_CRYPTO_SHA512_ARM64_CE is not set
# CONFIG_CRYPTO_SM3_ARM64_CE is not set
# CONFIG_CRYPTO_USER_API is not set
# CONFIG_CRYPTO_USER_API_RNG is not set
# CONFIG_HW_RANDOM_OPTEE is not set

# --- Disable unused device drivers
# CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM is not set
# CONFIG_BATTERY_BQ27XXX is not set
# CONFIG_BATTERY_MAX17042 is not set
# CONFIG_BATTERY_SBS is not set
# CONFIG_BLK_DEV_NBD is not set
# CONFIG_CHARGER_BQ25890 is not set
# CONFIG_CHARGER_BQ25980 is not set
# CONFIG_CHARGER_MT6360 is not set
# CONFIG_CHROME_PLATFORMS is not set
# CONFIG_COMMON_CLK_BD718XX is not set
# CONFIG_EEPROM_AT24 is not set
# CONFIG_FPGA_MGR_STRATIX10_SOC is not set
# CONFIG_GPIO_ALTERA is not set
# CONFIG_GPIO_BD9571MWV is not set
# CONFIG_GPIO_DWAPB is not set
# CONFIG_GPIO_MAX732X is not set
# CONFIG_GPIO_MB86S7X is not set
# CONFIG_GPIO_PCA953X is not set
# CONFIG_GPIO_PL061 is not set
# CONFIG_GPIO_WCD934X is not set
# CONFIG_GPIO_XGENE is not set
# CONFIG_I2C_ALGOBIT is not set
# CONFIG_I2C_CADENCE is not set
# CONFIG_I2C_DESIGNWARE_PLATFORM is not set
# CONFIG_I2C_MUX_PCA954x is not set
# CONFIG_I2C_RK3X is not set
# CONFIG_INPUT_PWM_BEEPER is not set
# CONFIG_INPUT_PWM_VIBRA is not set
# CONFIG_INTERCONNECT_QCOM_MSM8916 is not set
# CONFIG_LEDS_LM3692X is not set
# CONFIG_LEDS_PCA9532 is not set
# CONFIG_LEDS_QCOM_LPG is not set
# CONFIG_MELLANOX_PLATFORM is not set
# CONFIG_MTD_NAND_BRCMNAND is not set
# CONFIG_QCOM_RPROC_COMMON is not set
# CONFIG_RC_CORE is not set
# CONFIG_REGULATOR_TPS65132 is not set
# CONFIG_REGULATOR_VCTRL is not set
# CONFIG_RTC_DRV_CROS_EC is not set
# CONFIG_RTC_DRV_DS1307 is not set
# CONFIG_RTC_DRV_DS3232 is not set
# CONFIG_RTC_DRV_DS3232_HWMON is not set
# CONFIG_RTC_DRV_EFI is not set
# CONFIG_RTC_DRV_HYM8563 is not set
# CONFIG_RTC_DRV_M41T80 is not set
# CONFIG_RTC_DRV_MAX77686 is not set
# CONFIG_RTC_DRV_MT6397 is not set
# CONFIG_RTC_DRV_PCF2127 is not set
# CONFIG_RTC_DRV_PCF85063 is not set
# CONFIG_RTC_DRV_PCF85363 is not set
# CONFIG_RTC_DRV_PL031 is not set
# CONFIG_RTC_DRV_RK808 is not set
# CONFIG_RTC_DRV_RV3028 is not set
# CONFIG_RTC_DRV_RV8803 is not set
# CONFIG_RTC_DRV_RX8581 is not set
# CONFIG_SENSORS_GPIO_FAN is not set
# CONFIG_SENSORS_INA2XX is not set
# CONFIG_SENSORS_INA3221 is not set
# CONFIG_SENSORS_JC42 is not set
# CONFIG_SENSORS_LM75 is not set
# CONFIG_SENSORS_LM90 is not set
# CONFIG_SENSORS_PWM_FAN is not set
# CONFIG_SOUNDWIRE is not set
# CONFIG_SURFACE_PLATFORMS is not set
# CONFIG_TCG_TIS is not set
# CONFIG_TCG_TIS_CORE is not set
# CONFIG_TCG_TIS_I2C_CR50 is not set
# CONFIG_TOUCHSCREEN_ATMEL_MXT is not set
# CONFIG_TOUCHSCREEN_EDT_FT5X06 is not set
# CONFIG_TOUCHSCREEN_ELAN is not set
# CONFIG_TOUCHSCREEN_GOODIX is not set
# CONFIG_UACCE is not set
