CONFIG_ARCH_EXYNOS9=y
CONFIG_ARM64_EXYNOS_CPUIDLE=y
CONFIG_ARM64_EXYNOS_MOCE=y
CONFIG_ARM_EXYNOS_ACME=y
CONFIG_ARM_EXYNOS_DEVFREQ_DEBUG=y
CONFIG_ARM_EXYNOS_DEVFREQ=y
CONFIG_ARMV8_DEPRECATED=y
CONFIG_ATOMIC64_SELFTEST=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
CONFIG_BLK_DEV_SD=y
CONFIG_BOOTPARAM_HARDLOCKUP_PANIC=y
CONFIG_BOOTPARAM_HUNG_TASK_PANIC=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_CACHED_LEGACY_RAW_RX_BUFFER=y
CONFIG_CAL_IF=y
CONFIG_CAMERA_ACT_DW9839_OBJ=y
CONFIG_CAMERA_CIS_4H5YC_OBJ=y
CONFIG_CAMERA_CIS_5E9_OBJ=y
CONFIG_CAMERA_CIS_GM1SP_OBJ=y
CONFIG_CAMERA_FLASH_S2MU106_OBJ=y
CONFIG_CAMERA_PP_GDC_V1_0_0_OBJ=y
CONFIG_CCIC_S2MU106=y
CONFIG_CCIC_SYSFS=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_CFG80211_NO_BEACON_HINT=y
CONFIG_CFG80211=y
CONFIG_CGROUP_DEBUG=y
CONFIG_CHARGER_S2MU106=y
CONFIG_CHRE_SENSORHUB_HAL=y
CONFIG_CMA_SIZE_MBYTES=40
CONFIG_CMUCAL_DEBUG=y
CONFIG_CMUCAL_QCH_IGNORE_SUPPORT=y
CONFIG_COMPAT=y
CONFIG_CONTEXTHUB_DEBUG=y
CONFIG_CP15_BARRIER_EMULATION=y
CONFIG_CP_LCD_NOTIFIER=y
CONFIG_CP_UART_NOTI=y
CONFIG_CPU_FREQ_DEFAULT_GOV_ENERGYSTEP=y
CONFIG_CPU_FREQ_STAT=y
CONFIG_CPU_IDLE=y
CONFIG_CPUSETS=y
CONFIG_CPU_THERMAL=y
CONFIG_CRAMFS=y
CONFIG_CRYPTO_DISKCIPHER=y
CONFIG_CRYPTO_USER_API_RNG=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_KMEMLEAK_EARLY_LOG_SIZE=8192
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_DEBUG_PER_CPU_MAPS=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_DEBUG_SNAPSHOT_REG=y
CONFIG_DEBUG_SNAPSHOT=y
CONFIG_DEVFREQ_GOV_SIMPLE_INTERACTIVE=y
CONFIG_DEVTMPFS=y
CONFIG_DMA_CMA=y
CONFIG_DMADEVICES=y
CONFIG_DRV_SAMSUNG_PMIC=y
CONFIG_ECT_DUMP=y
CONFIG_ECT=y
CONFIG_EXT2_FS_SECURITY=y
CONFIG_EXT2_FS_XATTR=y
CONFIG_EXT2_FS=y
CONFIG_EXT3_FS_SECURITY=y
CONFIG_EXT3_FS=y
CONFIG_EXT4_ENCRYPTION=y
CONFIG_EXTCON=y
CONFIG_EXYNOS_ACPM_THERMAL=y
CONFIG_EXYNOS_ACPM=y
CONFIG_EXYNOS_ADC=y
CONFIG_EXYNOS_CHIPID=y
CONFIG_EXYNOS_COMMON_PANEL=y
CONFIG_EXYNOS_CORESIGHT=y
CONFIG_EXYNOS_DOZE=y
CONFIG_EXYNOS_DPU30=y
CONFIG_EXYNOS_DVFS_MANAGER=y
CONFIG_EXYNOS_EHLD=y
CONFIG_EXYNOS_FMP=y
CONFIG_EXYNOS_GNSS_IF=y
CONFIG_EXYNOS_GRAPHICS_G2D=y
CONFIG_EXYNOS_HIBERNATION=y
CONFIG_EXYNOS_MODEM_IF=y
CONFIG_EXYNOS_PM=y
CONFIG_EXYNOS_PD=y
CONFIG_EXYNOS_READ_ESD_SOLUTION=y
CONFIG_EXYNOS_REBOOT_USB_RECOVERY=y
CONFIG_EXYNOS_REBOOT=y
CONFIG_EXYNOS_RGT=y
CONFIG_EXYNOS_SOC_NAME="3830"
CONFIG_EXYNOS_THERMAL=y
CONFIG_EXYNOS_WINDOW_UPDATE=y
CONFIG_EXYRNG_FAIL_POLICY_RESET=y
CONFIG_EXYRNG_FIPS_COMPLIANCE=y
CONFIG_EXYRNG_USE_CRYPTOMANAGER=y
CONFIG_F2FS_FS_ENCRYPTION=y
CONFIG_FB_SIMPLE=y
CONFIG_FB=y
CONFIG_FLEXPMU=y
CONFIG_FRAME_WARN=4096
CONFIG_FUELGAUGE_S2MU106=y
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y
CONFIG_GNSS_PMUCAL=y
CONFIG_GPIOLIB=y
CONFIG_GPU_THERMAL=y
CONFIG_HPA=y
CONFIG_HW_RANDOM=y
CONFIG_HW_REV_DETECT=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_S3C2410=y
CONFIG_IFCONN_MANAGER=y
CONFIG_IFCONN_NOTIFIER=y
CONFIG_INET6_AH=y
CONFIG_INET_AH=y
CONFIG_INET_IPCOMP=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_ION_CARVEOUT_HEAP=y
CONFIG_ION_CMA_HEAP=y
CONFIG_ION_EXYNOS=y
CONFIG_ION_HPA_HEAP=y
CONFIG_ION_SYSTEM_HEAP=y
CONFIG_ION_TEST=y
CONFIG_IP_NF_MATCH_AH=y
CONFIG_IP_PNP_BOOTP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_IP_PNP_RARP=y
CONFIG_IP_PNP=y
CONFIG_KEYBOARD_GPIO=y
CONFIG_KEYBOARD_S2MPU12=y
CONFIG_KEYBOARD_SAMSUNG=y
CONFIG_KPROBES=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_LEDS_S2MU106_FLASH=y
CONFIG_MALI_EXPERT=y
CONFIG_MALI_MIDGARD=y
CONFIG_MANAGER_S2M_CHARGER=y
CONFIG_MEDIA_RADIO_SUPPORT=y
CONFIG_MEMCG_SWAP=y
CONFIG_MEMCG=y
CONFIG_MEMORY_STATE_TIME=y
CONFIG_MFD_S2MPU12=y
CONFIG_MFD_S2MU106=y
CONFIG_MMC_CQ_HCI=y
CONFIG_MMC_DW_64BIT_DESC=y
CONFIG_MMC_DW_DEBUG=y
CONFIG_MMC_DW_EXYNOS_FMP=y
CONFIG_MMC_DW_EXYNOS_SMU=y
CONFIG_MMC_DW_EXYNOS=y
CONFIG_MMC_DW_FORCE_32BIT_SFR_RW=y
CONFIG_MMC_DW_IDMAC=y
CONFIG_MMC_DW=y
CONFIG_MMC_SRPMB=y
CONFIG_MMC=y
CONFIG_MUIC_CORE=y
CONFIG_MUIC_MANAGER=y
CONFIG_MUIC_S2MU106=y
CONFIG_MUIC_SUPPORT_CCIC=y
CONFIG_MUIC_SYSFS=y
CONFIG_NANOHUB_MAILBOX=y
CONFIG_NANOHUB=y
CONFIG_NET_ACT_GACT=y
CONFIG_NET_ACT_MIRRED=y
CONFIG_NET_ACT_POLICE=y
CONFIG_NETFILTER_XT_MATCH_CONNBYTES=y
CONFIG_NETFILTER_XT_MATCH_CONNLABEL=y
CONFIG_NETFILTER_XT_MATCH_SCTP=y
CONFIG_NET_IPIP=y
CONFIG_NFC=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NR_CPUS=8
CONFIG_PAGE_POISONING=y
CONFIG_PAGE_POISONING_ZERO=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_PHY_EXYNOS_MIPI=y
CONFIG_PM_DEVFREQ=y
CONFIG_PM_S2MU106=y
CONFIG_PMU_UART_SWITCH=y
CONFIG_PM_WAKELOCKS_LIMIT=0
CONFIG_PPP_ASYNC=y
CONFIG_PPP_FILTER=y
CONFIG_PPP_MULTILINK=y
CONFIG_PPPOE=y
CONFIG_PPPOLAC=y
CONFIG_PPPOPNS=y
CONFIG_PPP_SYNC_TTY=y
CONFIG_PRINTK_PROCESS=y
CONFIG_PRINTK_TIME=y
CONFIG_PSTORE_PMSG=y
CONFIG_PWM_SAMSUNG=y
CONFIG_PWM=y
CONFIG_QUOTA_NETLINK_INTERFACE=y
CONFIG_RADIO_S5E3830=y
CONFIG_RADIO_S610=y
CONFIG_REGULATOR_S2MPU12=y
CONFIG_RTC_DRV_S2MPU12=y
CONFIG_S3C2410_SHUTDOWN_REBOOT=y
CONFIG_S3C2410_WATCHDOG=y
CONFIG_SCHED_EMS=y
CONFIG_SCHED_MC=y
CONFIG_SCHED_USE_FLUID_RT=y
CONFIG_SCSC_BT=y
CONFIG_SCSC_CM_MX_CLIENT_TEST=y
CONFIG_SCSC_CORE_FW_LOCATION="/vendor/etc/wifi"
CONFIG_SCSC_CORE=y
CONFIG_SCSC_DBG_SAMPLER=y
CONFIG_SCSC_DEBUG=y
CONFIG_SCSC_FM=y
CONFIG_SCSC_MMAP=y
CONFIG_SCSC_PLATFORM=y
CONFIG_SCSC_STATIC_RING_SIZE=4194304
CONFIG_SCSC_WIFILOGGER=y
CONFIG_SCSC_WLAN_ENABLE_MAC_RANDOMISATION=y
CONFIG_SCSC_WLAN_MAX_INTERFACES=12
CONFIG_SCSC_WLAN_MHS_STATIC_INTERFACE=y
CONFIG_SCSC_WLAN_SAE_CONFIG=y
CONFIG_SCSC_WLAN_WIFI_SHARING=y
CONFIG_SCSC_WLAN=y
CONFIG_SCSC_WLBTD=y
CONFIG_SCSC_WLBT_AUTORECOVERY_PERMANENT_DISABLE=y
CONFIG_SCSC_WLBT_CONFIG_PLATFORM="nacho_s612_erd"
CONFIG_SCSI=y
CONFIG_SEC_MODEM_S5000AP=y
CONFIG_SEC_NFC_GPIO_CLK=y
CONFIG_SEC_NFC_LDO_EN=y
CONFIG_SEC_NFC_PMU_CLK=y
CONFIG_SECURITY_PERF_EVENTS_RESTRICT=y
CONFIG_SENSORS_NTC_THERMISTOR=y
CONFIG_SERIAL_SAMSUNG_CONSOLE=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_SETEND_EMULATION=y
CONFIG_SHUB_PMUCAL=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_SND_DYNAMIC_MINORS=y
CONFIG_SND_SOC_SAMSUNG=y
CONFIG_SND_SOC_SAMSUNG_ABOX_3830=y
CONFIG_SND_SOC_SAMSUNG_EXYNOS3830_SOUND=y
CONFIG_SND_SOC=y
CONFIG_SND_USB_AUDIO=y
CONFIG_SOC_EXYNOS3830=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_SPI_S3C64XX=y
CONFIG_SPI=y
CONFIG_SWP_EMULATION=y
CONFIG_SW_SYNC=y
CONFIG_THERMAL_EMULATION=y
CONFIG_THERMAL=y
CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_DSX=y
CONFIG_UEVENT_HELPER_PATH="/sbin/hotplug"
CONFIG_UFS_SRPMB=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_F_DM=y
CONFIG_USB_CONFIGFS_F_MTP=y
CONFIG_USB_CONFIGFS_F_PTP=y
CONFIG_USB_CONFIGFS_MASS_STORAGE=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_DWC3=y
CONFIG_USB_NOTIFIER=y
CONFIG_USB_NOTIFY_LAYER=y
CONFIG_USB_PRINTER=y
CONFIG_USB_STORAGE=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USE_CCIC=y
CONFIG_USE_MUIC=y
CONFIG_V4L_MEM2MEM_DRIVERS=y
CONFIG_V4L_PLATFORM_DRIVERS=y
CONFIG_VIDEO_EXYNOS_CAMERA_POSTPROCESS=y
CONFIG_VIDEO_EXYNOS_MFC=y
CONFIG_VIDEO_EXYNOS_PABLO_ISP=y
CONFIG_VIDEO_EXYNOS_SCALER=y
CONFIG_VIDEO_EXYNOS_SMFC=y
CONFIG_WATCHDOG=y
CONFIG_WQ_WATCHDOG=y
# CONFIG_ARM64_HW_AFDBM is not set
# CONFIG_ARM64_PAN is not set
# CONFIG_ARM64_UAO is not set
# CONFIG_ARM64_VHE is not set
# CONFIG_BACKLIGHT_GENERIC is not set
# CONFIG_BLK_DEV_BSG is not set
# CONFIG_COMPAT_BRK is not set
# CONFIG_EFI is not set
# CONFIG_EPX is not set
# CONFIG_EXYNOS_PPMPU_FAIL_DETECTOR is not set
# CONFIG_IOSCHED_DEADLINE is not set
# CONFIG_PHY_EXYNOS5_USBDRD is not set
# CONFIG_PHY_EXYNOS_DP_DEBUGFS is not set
# CONFIG_PHY_EXYNOS_DP_VIDEO is not set
# CONFIG_PHY_EXYNOS_MIPI_VIDEO is not set
# CONFIG_PM_WAKELOCKS_GC is not set
# CONFIG_SCSC_SMAPPER is not set
# CONFIG_SCSC_WLAN_SINGLE_ANTENNA is not set
# CONFIG_SERIO_SERPORT is not set
