CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_I2C=y
CONFIG_EXYNOS_USI=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_I2C_EXYNOS5=y
# CONFIG_SPI_S3C64XX is not set

# Needed to run Linux rootfs (OE or Debian)
CONFIG_TMPFS=y
CONFIG_NET=y
CONFIG_UNIX=y

# ---- USB ----
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_INET=y
CONFIG_USB=y
CONFIG_EXTCON=y
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_EXYNOS=y
CONFIG_USB_DWC3_DUAL_ROLE=y
CONFIG_USB_OTG=y
CONFIG_USB_OTG_FSM=y
CONFIG_USB_CONN_GPIO=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_GADGET=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_PHY_EXYNOS5_USBDRD=y
# CONFIG_PHY_EXYNOS_USBDRD is not set

# ---- USB Mass Storage ----
CONFIG_SCSI=m
CONFIG_USB_STORAGE=m

# ---- Ethernet ----
CONFIG_NETDEVICES=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_SMSC95XX=y
