CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_I2C=y
CONFIG_EXYNOS_USI=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_I2C_EXYNOS5=y
# CONFIG_SPI_S3C64XX is not set
CONFIG_EXYNOS_IOMMU=m
CONFIG_SAMSUNG_IOMMU_TEST=m
CONFIG_DMABUF_HEAPS=y
CONFIG_DMABUF_HEAPS_SYSTEM=y

# Needed to run Linux rootfs (OE or Debian)
CONFIG_TMPFS=y
