# --- Make it possible to run kernel from 0x80000000
CONFIG_RANDOMIZE_BASE=y
CONFIG_RELOCATABLE=y

# --- Enable support for RAM disk
CONFIG_BLK_DEV_INITRD=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_SIZE=8192

# --- Enable file systems, so it's possible to mount something
CONFIG_EXT4_FS=y
CONFIG_F2FS_FS=y

# --- Enable /proc/sys/kernel/hotplug for BusyBox rootfs
CONFIG_UEVENT_HELPER=y

# --- Enable /dev/input/event* files
CONFIG_INPUT_EVDEV=y

# --- Enable DebugFS so that it can be mounted
CONFIG_DEBUG_FS=y

# --- Enable debug symbols ---
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO=y
