# CONFIG_CMDLINE_EXTEN is not set
CONFIG_SOC_EXYNOS3830_ANDROID_VERSION_T=y

#USB
CONFIG_USB_NOTIFY_LAYER_LSI=y
CONFIG_USB_NOTIFY_LAYER_MODULE=m
CONFIG_USB_NOTIFIER=m

#Audio
CONFIG_SND_SOC_SAMSUNG_EXYNOS3830_SOUND=m
