# CONFIG_CMDLINE_EXTEN is not set
CONFIG_SOC_EXYNOS3830_ANDROID_VERSION_T=y

#USB
# CONFIG_USB_NOTIFY_LAYER_LSI is not set
# CONFIG_USB_NOTIFY_LAYER_MODULE is not set
# CONFIG_USB_NOTIFIER is not set

#Audio
CONFIG_SND_SOC_SAMSUNG_EXYNOS3830_SOUND=m

#CAMERA
# CONFIG_CAMERA_CIS_GM1SP_OBJ is not set
# CONFIG_CAMERA_CIS_4H5YC_OBJ is not set
# CONFIG_CAMERA_CIS_5E9_OBJ is not set
# CONFIG_CAMERA_ACT_DW9839_OBJ is not set
# CONFIG_CAMERA_FLASH_S2MU106_OBJ is not set

# IF PMIC
# CONFIG_ERD_USE_S2M_MUIC is not set
# CONFIG_ERD_MUIC_SYSFS is not set
# CONFIG_ERD_MUIC_CORE is not set
# CONFIG_ERD_MUIC_MANAGER is not set
# CONFIG_ERD_MUIC_S2MU106 is not set
# CONFIG_ERD_MUIC_SUPPORT_CCIC is not set
# CONFIG_ERD_MUIC_SUPPORT_PRSWAP is not set

# CONFIG_ERD_USE_S2M_PDIC is not set
# CONFIG_ERD_PDIC_S2MU106 is not set
# CONFIG_ERD_PDIC_AUDIO_ACC is not set
# CONFIG_ERD_CHECK_CTYPE_SIDE is not set
# CONFIG_ERD_SUPPORT_USB_TYPEC_OPS is not set
# CONFIG_ERD_PDIC_SUPPORT_DP is not set

# CONFIG_ERD_IFCONN_NOTIFIER_MODULE is not set
# CONFIG_ERD_IFCONN_NOTIFIER is not set
# CONFIG_ERD_IFCONN_MANAGER is not set

# CONFIG_ERD_FUELGAUGE_S2MU106 is not set
# CONFIG_ERD_CHARGER_S2MU106 is not set
# CONFIG_ERD_MFD_S2MU106 is not set
# CONFIG_ERD_LEDS_S2MU106_FLASH is not set
# CONFIG_ERD_PM_S2MU106 is not set
# CONFIG_ERD_MANAGER_S2M_CHARGER is not set
# CONFIG_ERD_S2M_THERMAL is not set
