#
# ERD3830 board specific configuration
#

CONFIG_SCSC_WLBT_CONFIG_PLATFORM="nacho_s612_erd"
CONFIG_SND_SOC_SAMSUNG_EXYNOS3830_SOUND=y
#CONFIG_NFC=y
#CONFIG_SEC_NFC=y
#CONFIG_SEC_NFC_PRODUCT_N5=y
#CONFIG_SEC_NFC_IF_I2C=y
#CONFIG_SEC_NFC_GPIO_CLK=y
#CONFIG_SEC_NFC_LDO_EN=y
