# s5E3830 SOC COMMON config
# SOC ARCH
CONFIG_ARCH_EXYNOS=y
CONFIG_SOC_S5E3830=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_SERIAL_SAMSUNG_CONSOLE=y
CONFIG_SERIAL_EXYNOS=y
CONFIG_COMMON_CLK_SAMSUNG=y
CONFIG_CRAMFS=y
CONFIG_CAL_IF=m
CONFIG_CMUCAL_DEBUG=m
CONFIG_CMUCAL_QCH_IGNORE_SUPPORT=m
CONFIG_EXYNOS_FLEXPMU_DBG=m
CONFIG_EXYNOS_ACPM=y
