# s5E3830 SOC COMMON config
# SOC ARCH
CONFIG_ARCH_EXYNOS=y
CONFIG_SOC_S5E3830=y
CONFIG_SERIAL_EXYNOS=m
CONFIG_COMMON_CLK_SAMSUNG=y
CONFIG_CRAMFS=y
CONFIG_PINCTRL_SAMSUNG=m
CONFIG_CLKSRC_EXYNOS_MCT=m
CONFIG_CAL_IF=m
CONFIG_CMUCAL_DEBUG=m
CONFIG_CMUCAL_QCH_IGNORE_SUPPORT=m
CONFIG_EXYNOS_FLEXPMU_DBG=m
CONFIG_EXYNOS_ACPM=m
CONFIG_EXYNOS_ACPM_MFD_BUS=m
CONFIG_ACPM_DVFS=m
CONFIG_EXYNOS_PM=m
CONFIG_COMPOSITE_CLK_SAMSUNG=m
CONFIG_EXYNOS_PMU=m
CONFIG_EXYNOS_PD=m
CONFIG_EXYNOS_PD_DBG=m
CONFIG_I2C_CHARDEV=m
CONFIG_I2C_EXYNOS5=m
CONFIG_I2C_S3C2410=m
CONFIG_USI_V2=y
CONFIG_DMABUF_SYSFS_STATS=y
CONFIG_DMABUF_SAMSUNG_HEAPS=m
CONFIG_DMABUF_HEAPS_SAMSUNG_CMA=y
CONFIG_DMABUF_HEAPS_SAMSUNG_CARVEOUT=y
CONFIG_DMABUF_HEAPS_SAMSUNG_SYSTEM=y
CONFIG_DMABUF_HEAPS_SAMSUNG_CHUNK=y
CONFIG_SAMSUNG_IOMMU=m

#CPUIDLE
CONFIG_EXYNOS_CPUPM=m

# PMIC
CONFIG_MFD_S2MPU12=m
CONFIG_REGULATOR_S2MPU12=m
CONFIG_DRV_SAMSUNG_PMIC=m
CONFIG_RTC_DRV_S2MPU12=m
CONFIG_KEYBOARD_S2MPU12=m

#MMC
CONFIG_MMC_DW=m
CONFIG_MMC_DW_EXYNOS=m
CONFIG_MMC_CQHCI=y
CONFIG_FB=y
CONFIG_EXYNOS_DPU30=m
CONFIG_EXYNOS_DSIM_DITHER=y
CONFIG_EXYNOS_COMMON_PANEL=y
CONFIG_PHY_EXYNOS_MIPI=m
CONFIG_PHY_EXYNOS_MIPI_DSIM=m

#Touch
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_DSX=m

# IF PMIC
CONFIG_USE_S2M_MUIC=m
CONFIG_MUIC_SYSFS=y
CONFIG_MUIC_CORE=y
CONFIG_MUIC_MANAGER=y
CONFIG_MUIC_S2MU106=m

CONFIG_USE_S2M_PDIC=m
CONFIG_PDIC_S2MU106=y
CONFIG_PDIC_AUDIO_ACC=y
CONFIG_CHECK_CTYPE_SIDE=y
CONFIG_SUPPORT_USB_TYPEC_OPS=y
CONFIG_PDIC_SUPPORT_DP=y

CONFIG_IFCONN_NOTIFIER_MODULE=m
CONFIG_IFCONN_NOTIFIER=y
CONFIG_IFCONN_MANAGER=y

CONFIG_USB_NOTIFY_LAYER_LSI=y
CONFIG_USB_NOTIFY_LAYER_MODULE=m
CONFIG_USB_NOTIFIER=m

CONFIG_FUELGAUGE_S2MU106=m
CONFIG_CHARGER_S2MU106=m
CONFIG_MFD_S2MU106=m
CONFIG_LEDS_S2MU106_FLASH=m
CONFIG_PM_S2MU106=m
CONFIG_MANAGER_S2M_CHARGER=m
CONFIG_S2M_THERMAL=m

# USB
CONFIG_USB_DWC3_EXYNOS_MODULE=m
CONFIG_USB_XHCI_EXYNOS=m
CONFIG_USB_CONFIGFS_F_DM=m
CONFIG_USB_NET_AX88179_178A=m
CONFIG_USB_PORT_POWER_OPTIMIZATION=y
CONFIG_SND_EXYNOS_USB_AUDIO=y
CONFIG_SND_EXYNOS_USB_AUDIO_MODULE=m
CONFIG_USB_EXYNOS_TPMON_MODULE=m
CONFIG_PHY_EXYNOS_USBDRD=m
CONFIG_EXYNOS_CHIPID_V2=m

# HW_RANDOM
CONFIG_HW_RANDOM_EXYNOS_SWD=m

CONFIG_LTO_CLANG=y
# CONFIG_LTO_CLANG_FULL is not set
CONFIG_LTO_CLANG_THIN=y

#DEBUG
CONFIG_EXYNOS_DEBUG=y
CONFIG_DEBUG_SNAPSHOT=m
#CONFIG_DEBUG_SNAPSHOT_SFRDUMP=m
CONFIG_DEBUG_SNAPSHOT_QUICKDUMP=m
CONFIG_DEBUG_SNAPSHOT_DEBUG_KINFO=m
CONFIG_EXYNOS_DEBUG_TEST=m
CONFIG_EXYNOS_CORESIGHT=m
CONFIG_EXYNOS_ECC_HANDLER=m
CONFIG_EXYNOS_HARDLOCKUP_WATCHDOG=m
#CONFIG_EXYNOS_ITMON=m
CONFIG_EXYNOS_SSLD=m

#WDT
CONFIG_S3C2410_WATCHDOG=m

#Reboot
CONFIG_EXYNOS_REBOOT=m

CONFIG_ECT=m
CONFIG_EXYNOS_PM_QOS=m
CONFIG_EXYNOS_DVFS_MANAGER=m

CONFIG_ARM_EXYNOS_DEVFREQ=m
CONFIG_ARM_EXYNOS_DEVFREQ_DEBUG=m

CONFIG_ARM_EXYNOS_ACME=m
CONFIG_ARM_FREQ_QOS_TRACER=m
CONFIG_EXYNOS_UFCC=m

#CPU
CONFIG_EXYNOS_CPUHP=m
CONFIG_EXYNOS_BTS=m

# EMS
CONFIG_SCHED_EMS=m
CONFIG_SCHED_EMS_TUNE=y
CONFIG_VENDOR_NR_CPUS=8

#WLAN
CONFIG_WEXT_PROC=y
CONFIG_WEXT_CORE=y
CONFIG_WIRELESS=y
CONFIG_CFG80211=y
CONFIG_CFG80211_REG_NOT_UPDATED=y
CONFIG_SCSC_WLBT_CONFIG_PLATFORM="nacho_s620_erd"
CONFIG_SCSC_CORE=y
CONFIG_SCSC_CORE_FW_LOCATION="/vendor/etc/wifi"
CONFIG_SCSC_LOGRING=y
CONFIG_SCSC_WLBTD=y
CONFIG_SCSC_LOG_COLLECTION=y
CONFIG_SCSC_PLATFORM=y
CONFIG_SCSC_CM_MX_CLIENT_TEST=y
CONFIG_SCSC_FM=y
CONFIG_SCSC_FM_TEST=y
CONFIG_SCSC_MMAP=y
CONFIG_SCSC_DBG_SAMPLER=y
CONFIG_SCSC_DEBUG_COMPATIBILITY=y
CONFIG_SCSC_DEBUG=y
CONFIG_SCSC_STATIC_RING=y
CONFIG_SCSC_STATIC_RING_SIZE=4194304
CONFIG_SCSC_WIFILOGGER=y
CONFIG_SCSC_BT=y
CONFIG_SCSC_WLAN=y
CONFIG_SCSC_SMAPPER=n
CONFIG_SCSC_COMMON_HCF=y
CONFIG_SCSC_WLAN_WIFI_SHARING=y
CONFIG_SCSC_WLAN_SAE_CONFIG=y
CONFIG_SCSC_WLAN_ENABLE_MAC_RANDOMISATION=y
CONFIG_SCSC_WLAN_SINGLE_ANTENNA=y
# CONFIG_SCSC_WIFI_NAN_ENABLE is not set
CONFIG_SCSC_WLAN_MHS_STATIC_INTERFACE=y
CONFIG_SCSC_MX152_EXT_DUAL_FEM=y

#GNSSIF
CONFIG_GNSS_PMUCAL=m
CONFIG_EXYNOS_GNSS_IF=m
CONFIG_VIDEO_EXYNOS_SCALER=m
CONFIG_VIDEO_EXYNOS_SMFC=m
#ADC
CONFIG_EXYNOS_ADC=m

#PWM
CONFIG_PWM_SAMSUNG=m

CONFIG_EXYNOS_THERMAL_V2=m
CONFIG_EXYNOS_ACPM_THERMAL=m
CONFIG_EXYNOS_CPU_THERMAL=m
CONFIG_GPU_THERMAL=m
CONFIG_THERMAL_EMULATION=y
CONFIG_THERMAL_STATISTICS=y
CONFIG_PL330_DMA=m
