# s5E3830 SOC COMMON config
# SOC ARCH
CONFIG_ARCH_EXYNOS=y
CONFIG_SOC_S5E3830=y
CONFIG_SERIAL_EXYNOS=m
CONFIG_COMMON_CLK_SAMSUNG=y
CONFIG_CRAMFS=y
CONFIG_PINCTRL_SAMSUNG=m
CONFIG_CAL_IF=m
CONFIG_CMUCAL_DEBUG=m
CONFIG_CMUCAL_QCH_IGNORE_SUPPORT=m
CONFIG_EXYNOS_FLEXPMU_DBG=m
CONFIG_EXYNOS_ACPM=m
CONFIG_EXYNOS_ACPM_MFD_BUS=m
CONFIG_COMPOSITE_CLK_SAMSUNG=m
CONFIG_I2C_CHARDEV=m
CONFIG_I2C_EXYNOS5=m
CONFIG_I2C_S3C2410=m
CONFIG_USI_V2=y
CONFIG_DMABUF_SYSFS_STATS=y
CONFIG_DMABUF_SAMSUNG_HEAPS=m
CONFIG_DMABUF_HEAPS_SAMSUNG_CMA=y
CONFIG_DMABUF_HEAPS_SAMSUNG_CARVEOUT=y
CONFIG_DMABUF_HEAPS_SAMSUNG_SYSTEM=y
CONFIG_DMABUF_HEAPS_SAMSUNG_CHUNK=y
CONFIG_SAMSUNG_IOMMU=m

# PMIC
CONFIG_MFD_S2MPU12=m
CONFIG_REGULATOR_S2MPU12=m
CONFIG_DRV_SAMSUNG_PMIC=m
CONFIG_RTC_DRV_S2MPU12=m
CONFIG_KEYBOARD_S2MPU12=m

#MMC
CONFIG_MMC_DW=m
CONFIG_MMC_DW_EXYNOS=m
CONFIG_MMC_CQHCI=y
CONFIG_FB=y
CONFIG_EXYNOS_DPU30=m
CONFIG_EXYNOS_DSIM_DITHER=y
CONFIG_EXYNOS_COMMON_PANEL=y
CONFIG_PHY_EXYNOS_MIPI=m
CONFIG_PHY_EXYNOS_MIPI_DSIM=m

#Touch
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_DSX=m

# IF PMIC
CONFIG_USE_S2M_MUIC=m
CONFIG_MUIC_SYSFS=y
CONFIG_MUIC_CORE=y
CONFIG_MUIC_MANAGER=y
CONFIG_MUIC_S2MU106=m

CONFIG_USE_S2M_PDIC=m
CONFIG_PDIC_S2MU106=y
CONFIG_PDIC_AUDIO_ACC=y
CONFIG_CHECK_CTYPE_SIDE=y
CONFIG_SUPPORT_USB_TYPEC_OPS=y
CONFIG_PDIC_SUPPORT_DP=y

CONFIG_IFCONN_NOTIFIER_MODULE=m
CONFIG_IFCONN_NOTIFIER=y
CONFIG_IFCONN_MANAGER=y

CONFIG_USB_NOTIFY_LAYER_LSI=y
CONFIG_USB_NOTIFY_LAYER_MODULE=m
CONFIG_USB_NOTIFIER=m

CONFIG_FUELGAUGE_S2MU106=m
CONFIG_CHARGER_S2MU106=m
CONFIG_MFD_S2MU106=m
CONFIG_LEDS_S2MU106_FLASH=m
CONFIG_PM_S2MU106=m
CONFIG_MANAGER_S2M_CHARGER=m
CONFIG_S2M_THERMAL=m

# USB
CONFIG_USB_DWC3_EXYNOS_MODULE=m
CONFIG_USB_XHCI_EXYNOS=m
CONFIG_USB_CONFIGFS_F_DM=m
CONFIG_USB_NET_AX88179_178A=m
CONFIG_USB_PORT_POWER_OPTIMIZATION=y
CONFIG_SND_EXYNOS_USB_AUDIO=y
CONFIG_SND_EXYNOS_USB_AUDIO_MODULE=m
CONFIG_USB_EXYNOS_TPMON_MODULE=m
CONFIG_PHY_EXYNOS_USBDRD=m
CONFIG_EXYNOS_CHIPID_V2=m

# HW_RANDOM
CONFIG_HW_RANDOM_EXYNOS_SWD=m

CONFIG_LTO_CLANG=y
# CONFIG_LTO_CLANG_FULL is not set
CONFIG_LTO_CLANG_THIN=y

#DEBUG
CONFIG_EXYNOS_DEBUG=y
CONFIG_DEBUG_SNAPSHOT=m
CONFIG_DEBUG_SNAPSHOT_SFRDUMP=m
CONFIG_DEBUG_SNAPSHOT_QUICKDUMP=m
CONFIG_DEBUG_SNAPSHOT_DEBUG_KINFO=m
CONFIG_EXYNOS_DEBUG_TEST=m
CONFIG_EXYNOS_CORESIGHT=m
CONFIG_EXYNOS_ECC_HANDLER=m
CONFIG_EXYNOS_HARDLOCKUP_WATCHDOG=m
#CONFIG_EXYNOS_ITMON=m
CONFIG_EXYNOS_SSLD=m

#WDT
CONFIG_S3C2410_WATCHDOG=m

#Reboot
CONFIG_EXYNOS_REBOOT=m
