if SOC_EXYNOS9630 || SOC_EXYNOS9830 || SOC_EXYNOS9820 || SOC_EXYNOS9610

source "drivers/video/fbdev/exynos/dpu30/Kconfig"

endif # SOC_EXYNOS9630 || SOC_EXYNOS9830 || SOC_EXYNOS9820 || SOC_EXYNOS9610
