/ {
	/* normal mode - touch boost */
	set0_1: set@0001 {
		/* Boosting margin applied to frequency selection */
		freqboost {	   		/* LIT BIG */
			top-app         	= < 30  30>;
		};

		frt {	   			/* LIT BIG */
			active-ratio 		= < 25   5>;
		};

		ecs { };
	};
};
