/ {
	/* power-scenario mode - default */
	set1: set@0100 {
		frt {	   			/* LIT BIG */
			active-ratio		= < 90 100>;
		};

		ecs_dynamic {
			dynamic-busy-ratio		= <70>;
		};


		fclamp {
			monitor-group {
				top-app         = <1>;
			};
		};

		cpufreq_gov {
				/* LIT BIG */
			htask-boost = < 0 0 >;	/* disable heavy task boost */
		};
	};
};
