/*
 * SAMSUNG EXYNOS9630 SoC device tree source
 *
 * Copyright (c) 2019 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * SAMSUNG EXYNOS9630 SoC device nodes are listed in this file.
 * EXYNOS9630 based board files can include this file and provide
 * values for board specfic bindings.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/exynos9630.h>
#include "exynos9630-pinctrl.dtsi"
#include "exynos9630-rmem.dtsi"
#include <dt-bindings/clock/exynos9630.h>
#include "exynos9630-dpu.dtsi"
#include "exynos9630-sysmmu.dtsi"
#include <dt-bindings/ufs/ufs.h>

/ {
	compatible = "samsung,armv8", "samsung,exynos9630";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <1>;

	aliases {
		pinctrl0 = &pinctrl_0;
		pinctrl1 = &pinctrl_1;
		pinctrl2 = &pinctrl_2;
		pinctrl3 = &pinctrl_3;
		pinctrl4 = &pinctrl_4;
		pinctrl5 = &pinctrl_5;
		pinctrl6 = &pinctrl_6;
		uart0 = &serial_0;
	};

	ect {
		parameter_address = <0x90000000>;
		parameter_size = <0x4B000>;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x3A000000>;
	};

	memory@C0000000 {
		device_type = "memory";
		reg = <0x0 0xC0000000 0x40000000>;
	};

	memory@880000000 {
		device_type = "memory";
		reg = <0x00000008 0x80000000 0x80000000>;
	};

	memory@900000000 {
		device_type = "memory";
		reg = <0x00000009 0x00000000 0x80000000>;
	};

	chosen: chosen {
		bootargs = "earlycon=exynos4210,0x13800000 console=ttySAC0,115200n8 root=/dev/ram0 rw ramdisk=8192 initrd=0x84000000,8M init=/linuxrc clk_ignore_unused";
		linux,initrd-start = <0x84000000>;
		linux,initrd-end = <0x841FFFFF>;
	};

	chipid@10000000 {
		compatible = "samsung,exynos9-chipid";
		reg = <0x0 0x10000000 0x100>;
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu-map {
			cluster0 {
				coregroup0 {
					core0 {
						cpu = <&cpu0>;
					};
				};
			};
		};

		cpu0: cpu@000 {
			device_type = "cpu";
			compatible = "arm,ananke", "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "psci";
		};
	};

	gic:interrupt-controller@11F00000 {
		compatible = "arm,cortex-a15-gic", "arm,cortex-a9-gic";
		#interrupt-cells = <3>;
		#address-cells = <0>;
		interrupt-controller;
		reg =	<0x0 0x11F01000 0x1000>,
			<0x0 0x11F02000 0x1000>,
			<0x0 0x11F04000 0x2000>,
			<0x0 0x11F06000 0x2000>;
		interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_HIGH)>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13
				(GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14
				(GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11
				(GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10
				(GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>;
	        clock-frequency = <26000000>;
		use-clocksource-only;
		use-physical-timer;
	};

	clock: clock-controller@0x11D00000 {
		compatible = "samsung,exynos9630-clock";
		reg = <0x0 0x11D00000 0x8000>;
		#clock-cells = <1>;
		acpm-ipc-channel = <0>;
	};

	acpm {
		compatible = "samsung,exynos-acpm";
		#address-cells = <2>;
		#size-cells = <1>;
		acpm-ipc-channel = <4>;
		fvmap_offset = <0xCC00>;
		reg = <0x0 0x10E30000 0x1000>;		/* TIMER_APM */
		reg-names = "timer_apm";
		peritimer-cnt = <0xFFFF>;
	};

	acpm_ipc {
		compatible = "samsung,exynos-acpm-ipc";
		#address-cells = <2>;
		#size-cells = <1>;
		interrupts = <GIC_SPI INTREQ__MAILBOX_APM2AP IRQ_TYPE_LEVEL_HIGH>;	/* AP2APM MAILBOX SPI NUM*/
		reg = <0x0 0x10F00000 0x1000>,		/* AP2APM MAILBOX */
			<0x0 0x2039000 0x30000>;	/* APM SRAM */
		initdata-base = <0x7000>;
		num-timestamps = <32>;
		debug-log-level = <0>;
		logging-period = <500>;
		dump-base = <0x204F800>;
		dump-size = <0x2D000>;			/* 180KB */
	};

	acpm_dvfs {
		compatible = "samsung,exynos-acpm-dvfs";
		acpm-ipc-channel = <5>;
	};

	exynos_flexpmu_dbg {
		compatible = "samsung,exynos-flexpmu-dbg";
		#address-cells = <2>;
		#size-cells = <1>;
		data-base = <0x204bc00>;
		data-size = <0x400>;
	};

	mct@10050000 {
		compatible = "samsung,exynos4210-mct";
		reg = <0x0 0x10050000 0x800>;
		interrupt-controller;
		#interrupt-cells = <1>;
		interrupt-parent = <&mct_map>;
		interrupts =	<0>, <1>, <2>, <3>,
				<4>, <5>, <6>, <7>,
				<8>, <9>, <10>, <11>;
		clocks = <&clock OSCCLK>, <&clock GATE_MCT_QCH>;
		clock-names = "fin_pll", "mct";
		use-clockevent-only;

		mct_map: mct-map {
			#interrupt-cells = <1>;
			#address-cells = <0>;
			#size-cells = <0>;
			interrupt-map = <0 &gic 0 INTREQ__MCT_G0 IRQ_TYPE_LEVEL_HIGH>,
					<1 &gic 0 INTREQ__MCT_G1 IRQ_TYPE_LEVEL_HIGH>,
					<2 &gic 0 INTREQ__MCT_G2 IRQ_TYPE_LEVEL_HIGH>,
					<3 &gic 0 INTREQ__MCT_G3 IRQ_TYPE_LEVEL_HIGH>,
					<4 &gic 0 INTREQ__MCT_L0 IRQ_TYPE_LEVEL_HIGH>,
					<5 &gic 0 INTREQ__MCT_L1 IRQ_TYPE_LEVEL_HIGH>,
					<6 &gic 0 INTREQ__MCT_L2 IRQ_TYPE_LEVEL_HIGH>,
					<7 &gic 0 INTREQ__MCT_L3 IRQ_TYPE_LEVEL_HIGH>,
					<8 &gic 0 INTREQ__MCT_L4 IRQ_TYPE_LEVEL_HIGH>,
					<9 &gic 0 INTREQ__MCT_L5 IRQ_TYPE_LEVEL_HIGH>,
					<10 &gic 0 INTREQ__MCT_L6 IRQ_TYPE_LEVEL_HIGH>,
					<11 &gic 0 INTREQ__MCT_L7 IRQ_TYPE_LEVEL_HIGH>;
		};
	};

	serial_0: uart@13800000 {
		compatible = "samsung,exynos-uart";
		samsung,separate-uart-clk;
		reg = <0x0 0x13800000 0x100>;
		samsung,fifo-size = <256>;
		interrupts = <GIC_SPI INTREQ__UART_DBG IRQ_TYPE_LEVEL_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart0_bus>;
		samsung,usi-serial-v2;
		samsung,dbg-uart-ch;
		samsung,dbg-uart-baud = <115200>;
		samsung,dbg-word-len = <8>;
		clocks = <&clock GATE_UART_DBG_QCH>, <&clock UART_DBG>;
		clock-names = "gate_uart_clk0", "ipclk_uart0";
		status = "disabled";
	};

	/* ALIVE */
	pinctrl_0: pinctrl@10E50000 {
		compatible = "samsung,exynos9630-pinctrl";
		reg = <0x0 0x10E50000 0x1000>;
		interrupts = <GIC_SPI INTREQ__ALIVE_EINT0 0>,
			     <GIC_SPI INTREQ__ALIVE_EINT1 0>,
			     <GIC_SPI INTREQ__ALIVE_EINT2 0>,
			     <GIC_SPI INTREQ__ALIVE_EINT3 0>,
			     <GIC_SPI INTREQ__ALIVE_EINT4 0>,
			     <GIC_SPI INTREQ__ALIVE_EINT5 0>,
			     <GIC_SPI INTREQ__ALIVE_EINT6 0>,
			     <GIC_SPI INTREQ__ALIVE_EINT7 0>,
			     <GIC_SPI INTREQ__ALIVE_EINT8 0>,
			     <GIC_SPI INTREQ__ALIVE_EINT9 0>,
			     <GIC_SPI INTREQ__ALIVE_EINT10 0>,
			     <GIC_SPI INTREQ__ALIVE_EINT11 0>;

		wakeup-interrupt-controller {
			compatible = "samsung,exynos7-wakeup-eint";
		};
	};

	/* CMGP */
	pinctrl_1: pinctrl@11430000 {
		compatible = "samsung,exynos9630-pinctrl";
		reg = <0x0 0x11430000 0x1000>;
		interrupts = <GIC_SPI INTREQ__EXT_INTM00 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM01 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM02 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM03 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM04 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM05 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM06 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM07 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM08 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM09 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM10 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM11 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM12 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM13 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM14 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTM15 IRQ_TYPE_LEVEL_HIGH>;

		wakeup-interrupt-controller {
			compatible = "samsung,exynos7-wakeup-eint";
		};
	};

	/* CHUB */
	pinctrl_2: pinctrl@11BD0000 {
		compatible = "samsung,exynos9630-pinctrl";
		reg = <0x0 0x11BD0000 0x1000>;
		interrupts = <GIC_SPI INTREQ__EXT_INTH0_0 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH0_1 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH0_2 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH0_3 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH0_4 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH0_5 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH0_6 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH0_7 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH1_0 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH1_1 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH1_2 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH1_3 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH2_0 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH2_1 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH2_2 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH2_3 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH2_4 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__EXT_INTH2_5 IRQ_TYPE_LEVEL_HIGH>;

		wakeup-interrupt-controller {
			compatible = "samsung,exynos7-wakeup-eint";
		};
	};

	/* HSI */
	pinctrl_3: pinctrl@13450000 {
		compatible = "samsung,exynos9630-pinctrl";
		reg = <0x0 0x13450000 0x1000>;
		interrupts = <GIC_SPI INTREQ__GPIO_HSI 0>;
	};

	/* MMCCARD */
	pinctrl_4: pinctrl@138F0000{
		compatible = "samsung,exynos9630-pinctrl";
		reg = <0x0 0x138F0000 0x1000>;
		interrupts = <GIC_SPI INTREQ__GPIO_MMCCARD 0>;
	};

	/* PERI */
	pinctrl_5: pinctrl@10040000 {
		compatible = "samsung,exynos9630-pinctrl";
		reg = <0x0 0x10040000 0x1000>;
		interrupts = <GIC_SPI INTREQ__GPIO_PERI 0>;
	};

	/* VTS */
	pinctrl_6: pinctrl@11780000 {
		compatible = "samsung,exynos9630-pinctrl";
		reg = <0x0 0x11780000 0x1000>;
	};

	exynos-pmu {
		compatible = "samsung,exynos-pmu";
		samsung,syscon-phandle = <&pmu_system_controller>;
		reg = <0x0 0x10E60000 0x10000>;
		reg-names = "pmu_alive";
	};

	pmu_system_controller: system-controller@10E60000 {
		compatible = "samsung,exynos9630-pmu", "syscon";
		reg = <0x0 0x10E60000 0x10000>;
	};

	iommu-domain_dpu {
		compatible = "samsung,exynos-iommu-bus";
		#dma-address-cells = <2>;
		#dma-size-cells = <1>;
		ranges;

                domain-clients = <&dsim_1>;
	};

	iommu-domain_isp {
		compatible = "samsung,exynos-iommu-bus";
		#dma-address-cells = <2>;
		#dma-size-cells = <1>;
		ranges;

                domain-clients = <>;
	};

	iommu-domain_g2dmscljpeg {
		compatible = "samsung,exynos-iommu-bus";
		#dma-address-cells = <2>;
		#dma-size-cells = <1>;
		ranges;

                domain-clients = <>;
	};

	iommu-domain_aud {
		compatible = "samsung,exynos-iommu-bus";
		#dma-address-cells = <2>;
		#dma-size-cells = <1>;
		ranges;

                domain-clients = <>;
	};

	iommu-domain_dnc {
		compatible = "samsung,exynos-iommu-bus";
		#dma-address-cells = <2>;
		#dma-size-cells = <1>;
		ranges;

                domain-clients = <>;
	};

	iommu-domain_vra {
		compatible = "samsung,exynos-iommu-bus";
		#dma-address-cells = <2>;
		#dma-size-cells = <1>;
		ranges;

                domain-clients = <>;
	};

	iommu-domain_mfc {
		compatible = "samsung,exynos-iommu-bus";
		#dma-address-cells = <2>;
		#dma-size-cells = <1>;
		ranges;

                domain-clients = <>;
	};

	exynos-sysreg-hsi {
		compatible = "samsung,exynos-sysreg-hsi";
		samsung,syscon-phandle = <&sysreg_fsys_system_controller>;
	};

	sysreg_fsys_system_controller: system-controller@13420000 {
		compatible = "samsung,exynos9610-sysreg-fsys", "syscon";
		reg = <0x0 0x13420000 0x1020>;
	};

	ufs: ufs@0x13600000 {
	     /* ----------------------- */
	     /* 1. SYSTEM CONFIGURATION */
	     /* ----------------------- */
	     compatible ="samsung,exynos-ufs";
	     #address-cells = <2>;
	     #size-cells = <1>;
	     ranges;
	     reg =
		     <0x0 0x13600000 0x200>,	/* 0: HCI standard */
		     <0x0 0x13601100 0x220>,	/* 1: Vendor specificed */
		     <0x0 0x13680000 0xa000>,	/* 2: UNIPRO */
		     <0x0 0x13500000 0x2100>;	/* 3: UFS protector */
	     interrupts = <GIC_SPI INTREQ__UFS_EMBD IRQ_TYPE_LEVEL_HIGH>;
	     pinctrl-names = "default";
	     pinctrl-0 = <&ufs_rst_n &ufs_refclk_out>;
	     clocks =
		     /* aclk clock */
		     <&clock GATE_UFS_EMBD_QCH>,
		     /* unipro clocks */
		     <&clock UFS_EMBD>;

	     clock-names =
		     /* aclk clocks */
		     "GATE_UFS_EMBD_QCH_UFS",
		     /* unipro clocks */
		     "UFS_EMBD";

	     /* PM QoS for INT power domain */
//	     ufs-pm-qos-int = <533000>;

	     /* DMA coherent callback, should be coupled with 'ufs-sys' */
	     dma-coherent;

	     /* UFS PHY isolation and TCXO control */
	     samsung,pmu-phandle = <&pmu_system_controller>;

	     /* TCXO exclusive control  */
	     tcxo-ex-ctrl = <0>;

	     /* UFS IO coherency  */
	     samsung,sysreg-fsys-phandle = <&sysreg_fsys_system_controller>;

	     /* ----------------------- */
	     /* 2. UFS COMMON           */
	     /* ----------------------- */
	     freq-table-hz = <0 0>, <0 0>;

//	     vcc-supply = <&ufs_fixed_vcc>;
//	     vcc-fixed-regulator;
//	     ufs-power-gpio = <&gpa0 0 0>; not used xbootldo
	     ufs-reset-n-gpio = <&gpf0 1 0>;

	     /* ----------------------- */
	     /* 3. UFS EXYNOS           */
	     /* ----------------------- */
	     hw-rev = <UFS_VER_0005>;

	     /* power mode change */
	     ufs,pmd-attr-lane = /bits/ 8 <1>;
	     ufs,pmd-attr-gear = /bits/ 8 <3>;

	     /* hiberantion */
	     ufs-rx-min-activate-time-cap = <3>;
	     ufs-rx-hibern8-time-cap = <2>;
	     ufs-tx-hibern8-time-cap = <2>;

	     /* board type for UFS CAL */
	     brd-for-cal = <0>;

	     fmp-id = <0>;
	     smu-id = <0>;

	     /* ----------------------- */
	     /* 4. ADDITIONAL NODES     */
	     /* ----------------------- */
	     ufs-phy {
		     #address-cells = <2>;
		     #size-cells = <1>;
		     ranges;
		     reg = <0x0 0x13604000 0x800>;
	     };

	     /* SYSREG */
	     ufs-dma-coherency {
		     #address-cells = <2>;
		     #size-cells = <1>;

		     offset = <0x400>;
		     mask = <(BIT_22 | BIT_23)>;
		     val = <(BIT_22 | BIT_23)>;
	     };
	     /*
	      * not confirm this address and can't find cport address
	      ufs-cport {
	      reg =
	      <0x0 0x13108000 0x804>;
	      };
	      */
     };

};
