/*
 * SAMSUNG EXYNOS device tree source for reserved-memory
 *
 * Copyright (c) 2022 Samsung Electronics Co., Ltd.
 *             http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
#include <dt-bindings/soc/samsung/s5e3830-seclog.h>

/ {
	reserved_memory: reserved-memory {
		#address-cells = <2>;
		#size-cells = <1>;
		ranges;

		el3mon_reserve {
			compatible = "exynos,el3mon";
			reg = <0x0 0xBFF80000 0x00080000>;
		};

		seclog_mem: seclog_mem {
		    compatible = "exynos,seclog";
		    reg = <0 SECLOG_LOG_BUF_BASE SECLOG_LOG_BUF_TOTAL_SIZE>;
		};
                dss_rmem: debug_snapshot {
                        #address-cells = <2>;
                        #size-cells = <1>;
                        header: header {
				compatible = "header";
                                reg = <0 0xF0000000 0x10000>;
				no-map;
                        };
                        log_kernel: log_kernel {
				compatible = "log_kernel";
                                reg = <0 0xF0010000 0x200000>;
                        };
			log_platform: log_platform {
				compatible = "log_platform";
				reg = <0 0xF0210000 0x400000>;
			};
                        log_first: log_first {
				compatible = "log_first";
				reg = <0 0xF0610000 0x200000>;
                        };
			log_kevents: log_kevents {
				compatible = "log_kevents";
				reg = <0 0xF0810000 0x500000>;
			};
			log_kevents_small: log_kevents_small {
				compatible = "log_kevents";
				reg = <0 0xF0810000 0xA6000>;
				status = "no";
			};
			log_arrdumpreset: log_arrdumpreset {
				compatible = "log_arrdumpreset";
				reg = <0 0xF0D10000 0xC30000>;
			};
                };

		debug_kinfo_reserved: debug_kinfo_reserved@effff000 {
			reg = <0 0xFCFFF000 0x00001000>;
			no-map;
		};

                log_backtrace: log_backtrace {
			compatible = "log_backtrace";
			alloc-ranges = <0x0 0x80000000 0x68000000>;
			size = <0x2000>;
		};

		ect_binary: ect_binary {
			compatible = "exynos,ect_rmem";
			reg = <0x0 0x90000000 0x0004B000>;
		};

		wifibt_if {
			compatible = "exynos,wifibt_if";
			size = <0xC00000>; /* 12MB */
		};
	};
};
