/* SPDX-License-Identifier: GPL-2.0-only */
/*
 * EXYNOS M2M device tree source for M2M IP(MSCL, SMFC)
 *
 * Copyright (c) 2012 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 */
#include <dt-bindings/clock/s5e3830.h>
#include <dt-bindings/interrupt-controller/s5e3830.h>

/ {
	aliases {
		smfc0 = &smfc_0;
	};

	smfc_0: smfc@12C90000 {
		compatible = "samsung,exynos8890-jpeg";
		reg = <0x0 0x12C90000 0x1000>;
		interrupts = <0 INTREQ__JPEG IRQ_TYPE_LEVEL_HIGH>;
		iommus = <&sysmmu_mfcmscl>;
		samsung,iommu-group=<&iommu_group_mfcmscl>;
		smfc,int_qos_minlock = <534000>;
	};
};
