/*
 * SAMSUNG EXYNOS3830 SoC device tree source
 *
 * Copyright (c) 2018 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * SAMSUNG EXYNOS3830 SoC device nodes are listed in this file.
 * EXYNOS based board files can include this file and provide
 * values for board specfic bindings.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
//#include <dt-bindings/clock/exynosXXXX.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/s5e3830.h>
#include <dt-bindings/clock/s5e3830.h>
#include "s5e3830-pinctrl.dtsi"
#include "s5e3830-usi.dtsi"
#include "s5e3830-rmem.dtsi"
#include "s5e3830-debug.dtsi"
#include "s5e3830-dma-heap.dtsi"
#include "s5e3830-sysmmu.dtsi"
#include "s5e3830-mali.dtsi"
#include "s5e3830-cpu.dtsi"
#include "s5e3830-dpu.dtsi"
#include "s5e3830-usb.dtsi"
#include "s5e3830-security.dtsi"

/ {
	compatible = "samsung,armv8", "samsung,exynos3830";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <1>;

	aliases {
		pinctrl0 = &pinctrl_0;
		pinctrl1 = &pinctrl_1;
		pinctrl2 = &pinctrl_2;
		pinctrl3 = &pinctrl_3;
		pinctrl4 = &pinctrl_4;
		pinctrl5 = &pinctrl_5;
		uart0 = &serial_0;

		mshc0 = &dwmmc_0;
	};

                        memory@80000000 {
                                device_type = "memory";
                                reg = <0x0 0x80000000 0x80000000>;
                        };

                        memory@880000000 {
                                device_type = "memory";
                                reg = <0x00000008 0x80000000 0x80000000>;
                        };

                        chosen {
				bootargs = "earlycon=exynos4210,0x13820000 console=ttySAC0,115200n8 androidboot.console=ttySAC0 s3c2410_wdt.tmr_atboot=1  androidboot.boot_devices=12100000.dwmmc0 clocksource=arch_sys_counter clk_ignore_unused androidboot.hardware=s5e3830 printk.devkmsg=on";
                                linux,initrd-start = <0x84000000>;
                                linux,initrd-end = <0x847FFFFF>;
                        };

                        fixed-rate-clocks {
                                oscclk {
                                        compatible = "samsung,s5e3830-oscclk";
                                        clock-frequency = <26000000>;
                                };
                        };



	chipid@10000000 {
		compatible = "samsung,s5e3830-chipid";
		reg = <0x0 0x10000000 0x100>;
	};

	reboot {
		compatible = "exynos,reboot-v1";
		reg = <0x0 0x11860000 0x4000>;
	};

	gic:interrupt-controller@12a00000 {
		compatible = "arm,cortex-a15-gic", "arm,cortex-a9-gic";
		#interrupt-cells = <3>;
		#address-cells = <0>;
		interrupt-controller;
		reg =	<0x0 0x12a01000 0x1000>,
			<0x0 0x12a02000 0x1000>,
			<0x0 0x12a04000 0x2000>,
			<0x0 0x12a06000 0x2000>;
		interrupts = <1 9 0xf04>;
	};

	timer {
	        compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13
				(GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14
				(GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11
				(GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10
				(GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>;
	        clock-frequency = <26000000>;
		use-clocksource-only;
		use-physical-timer;
	};

	clock: clock-controller@0x120e0000 {
		compatible = "samsung,s5e3830-clock";
		reg = <0x0 0x120e0000 0x8000>;
		#clock-cells = <1>;
	};

	 cal_if {
                compatible = "samsung,exynos_cal_if";
                reg = <0x0 0x120e0000 0x8000>;
                acpm-ipc-channel = <0>;
        };

	mct@10040000 {
		compatible = "samsung,exynos4210-mct";
		reg = <0x0 0x10040000 0x800>;
		interrupt-controller;
		#interrupt-cells = <1>;
		interrupt-parent = <&mct_map>;
		interrupts =	<0>, <1>, <2>, <3>,
				<4>, <5>, <6>, <7>,
				<8>, <9>, <10>, <11>;
		clocks = <&clock 1>, <&clock 21>;
		clock-names = "fin_pll", "mct";
		use-clockevent-only;

		mct_map: mct-map {
			#interrupt-cells = <1>;
			#address-cells = <0>;
			#size-cells = <0>;
			interrupt-map = <0 &gic 0 INTREQ__MCT_G0 IRQ_TYPE_LEVEL_HIGH>,
					<1 &gic 0 INTREQ__MCT_G1 IRQ_TYPE_LEVEL_HIGH>,
					<2 &gic 0 INTREQ__MCT_G2 IRQ_TYPE_LEVEL_HIGH>,
					<3 &gic 0 INTREQ__MCT_G3 IRQ_TYPE_LEVEL_HIGH>,
					<4 &gic 0 INTREQ__MCT_L0 IRQ_TYPE_LEVEL_HIGH>,
					<5 &gic 0 INTREQ__MCT_L1 IRQ_TYPE_LEVEL_HIGH>,
					<6 &gic 0 INTREQ__MCT_L2 IRQ_TYPE_LEVEL_HIGH>,
					<7 &gic 0 INTREQ__MCT_L3 IRQ_TYPE_LEVEL_HIGH>,
					<8 &gic 0 INTREQ__MCT_L4 IRQ_TYPE_LEVEL_HIGH>,
					<9 &gic 0 INTREQ__MCT_L5 IRQ_TYPE_LEVEL_HIGH>,
					<10 &gic 0 INTREQ__MCT_L6 IRQ_TYPE_LEVEL_HIGH>,
					<11 &gic 0 INTREQ__MCT_L7 IRQ_TYPE_LEVEL_HIGH>;
		};
	};

	serial_0: uart@13820000 {
		compatible = "samsung,exynos-uart";
		samsung,separate-uart-clk;
		reg = <0x0 0x13820000 0x100>;
		samsung,fifo-size = <64>;
		interrupts = <0 INTREQ__UART 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart0_bus>;
		samsung,console-dbg;
		samsung,usi-serial-v2;
		samsung,dbg-uart-ch;
		samsung,dbg-uart-baud = <115200>;
		samsung,dbg-word-len = <8>;
		clocks = <&clock GATE_UART_QCH>, <&clock DOUT_UART>;
		clock-names = "gate_uart_clk0", "ipclk_uart0";
		status = "okay";
	};
	/* TBD */
/*
	dwmmc_2: dwmmc2@13D00000 {
		compatible = "samsung,exynos-dw-mshc";
		reg = <0x0 0x13D00000 0x2000>;
		reg-names = "dw_mmc";
		interrupts = <0 250 0>;
		#address-cells = <1>;
		#size-cells = <0>;

		clocks = <&clock MMC_CARD>, <&clock GATE_MMC_CARD>;
		clock-names = "ciu", "ciu_gate";
		status = "disabled";
	 };
*/
	/* ALIVE */
	pinctrl_0: pinctrl@11850000 {
		compatible = "samsung,s5e3830-pinctrl";
		reg = <0x0 0x11850000 0x1000>;
		interrupts = <GIC_SPI INTREQ__ALIVE_EINT0 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT1 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT2 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT3 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT4 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT5 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT6 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT7 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT8 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT9 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT10 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT11 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT12 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT13 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT14 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT15 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT16 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT17 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT18 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT19 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT20 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT21 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT22 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT23 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT24 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT25 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT26 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT27 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT28 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT29 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT30 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__ALIVE_EINT31 IRQ_TYPE_LEVEL_HIGH>;

		wakeup-interrupt-controller {
			compatible = "samsung,exynos7-wakeup-eint";
		};
	};

	/* CMGP */
	pinctrl_1: pinctrl@11c30000 {
		compatible = "samsung,s5e3830-pinctrl";
		reg = <0x0 0x11c30000 0x1000>;
		interrupts = <GIC_SPI INTREQ__CMGP_EXT_INTM00 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__CMGP_EXT_INTM01 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__CMGP_EXT_INTM02 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__CMGP_EXT_INTM03 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__CMGP_EXT_INTM04 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__CMGP_EXT_INTM05 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__CMGP_EXT_INTM06 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI INTREQ__CMGP_EXT_INTM07 IRQ_TYPE_LEVEL_HIGH>;

		wakeup-interrupt-controller {
			compatible = "samsung,exynos7-wakeup-eint";
		};
	};

	/* AUD */
	pinctrl_2: pinctrl@14a60000 {
		compatible = "samsung,s5e3830-pinctrl";
		reg = <0x0 0x14a60000 0x1000>;
	};

	/* HSI */
	pinctrl_3: pinctrl@13430000 {
		compatible = "samsung,s5e3830-pinctrl";
		reg = <0x0 0x13430000 0x1000>;
		interrupts = <GIC_SPI INTREQ__GPIO_HSI IRQ_TYPE_LEVEL_HIGH>;
	};

	/* CORE */
	pinctrl_4: pinctrl@12070000 {
		compatible = "samsung,s5e3830-pinctrl";
		reg = <0x0 0x12070000 0x1000>;
		interrupts = <GIC_SPI INTREQ__GPIO_CORE IRQ_TYPE_LEVEL_HIGH>;
	};

	/* PERI */
	pinctrl_5: pinctrl@139b0000 {
		compatible = "samsung,s5e3830-pinctrl";
		reg = <0x0 0x139b0000 0x1000>;
		interrupts = <GIC_SPI INTREQ__GPIO_PERI IRQ_TYPE_LEVEL_HIGH>;
	};

	exynos-pmu {
                compatible = "samsung,exynos-pmu";
                samsung,syscon-phandle = <&pmu_system_controller>;
                reg = <0x0 0x11860000 0x10000>;
                reg-names = "pmu_alive";
        };

        pmu_system_controller: system-controller@11860000 {
                compatible = "samsung,exynos3830-pmu", "syscon";
                reg = <0x0 0x11860000 0x10000>;
        };

	acpm {
		compatible = "samsung,exynos-acpm";
		#address-cells = <2>;
		#size-cells = <1>;
		acpm-ipc-channel = <4>;
		fvmap_offset = <0xA000>;
		reg = <0x0 0x11830000 0x1000>;		/* TIMER_APM */
		reg-names = "timer_apm";
		peritimer-cnt = <0xFFFF>;
	};

	acpm_ipc {
		compatible = "samsung,exynos-acpm-ipc";
		#address-cells = <2>;
		#size-cells = <1>;
		interrupts = <0 INTREQ__MAILBOX_APM2AP IRQ_TYPE_LEVEL_HIGH>;	/* AP2APM MAILBOX SPI NUM*/
		reg = <0x0 0x11900000 0x1000>,		/* AP2APM MAILBOX */
			<0x0 0x2039000 0x30000>;	/* APM SRAM */
		initdata-base = <0x7000>;
		num-timestamps = <32>;
		debug-log-level = <0>;
		logging-period = <500>;
		dump-base = <0x203C000>;
		dump-size = <0x2D000>;			/* 180KB */
	};

	acpm_dvfs {
		compatible = "samsung,exynos-acpm-dvfs";
		acpm-ipc-channel = <5>;
	};

	acpm_mfd_bus: acpm_mfd_bus@11A50000 {
		compatible = "samsung,exynos-acpm-mfd-bus";
		status = "disabled";
	};

	 dwmmc_0: dwmmc0@12100000 {
		 compatible = "samsung,exynos-dw-mshc";
		 reg = <0x0 0x12100000 0x2000>,
			 <0x0 0x12108000 0x200>;
		 reg-names = "dw_mmc",
			 "cmdq_mem";
		 interrupts = <0 INTREQ__MMC_EMBD_CORE 0>;
		 #address-cells = <1>;
		 #size-cells = <0>;
		 clocks = <&clock DOUT_CORE_MMC_EMBD>, <&clock GATE_MMC_EMBD_QCH>;
		 clock-names = "ciu", "ciu_gate";
		 status = "disabled";
		 fmp-id = <0>;
		 smu-id = <0>;
	 };
	/* TODO */
	pmu_system_controller: system-controller@11860000 {
	       compatible = "samsung,exynos3830-pmu", "syscon";
	       reg = <0x0 0x11860000 0x10000>;
	};

        watchdog_cl0@10050000 {
                compatible = "samsung,exynos3-v1-wdt";
                reg = <0x0 0x10050000 0x100>;
                interrupts = <GIC_SPI INTREQ__WDT_0 IRQ_TYPE_LEVEL_HIGH>;
                clocks = <&clock OSCCLK>, <&clock GATE_WDT_0_QCH>;
                clock-names = "rate_watchdog", "gate_watchdog";
                timeout-sec = <30>;
                samsung,syscon-phandle = <&pmu_system_controller>;
                index = <0>; /* if little cluster then index is 0*/
       };

       watchdog_cl1@10060000 {
                compatible = "samsung,exynos3-v2-wdt";
                reg = <0x0 0x10060000 0x100>;
                interrupts = <GIC_SPI INTREQ__WDT_1 IRQ_TYPE_LEVEL_HIGH>;
                clocks = <&clock OSCCLK>, <&clock GATE_WDT_1_QCH>;
                clock-names = "rate_watchdog", "gate_watchdog";
                timeout-sec = <30>;
                samsung,syscon-phandle = <&pmu_system_controller>;
                index = <1>; /* if little cluster then index is 0*/
                use_multistage_wdt; /* Use FIQ debug watchdog */
      };

};
